.error {color: red;} /* jquery validation css */





/* Login Css*/
.right_inner .inner_login_form {width:100%;margin:0 auto; max-width:500px;padding:20px;border:1px solid #eee;border-radius:5px;}
.right_inner .inner_login_form ul {padding:35px 35px 20px 35px;;text-align:left;}
.right_inner .inner_login_form ul:after {display:block; clear:both; content:'';}
.right_inner .inner_login_form ul li {font-size:18px; line-height:30px;margin-bottom:20px;}
.right_inner .inner_login_form ul li strong {width:30%;display:inline-block;vertical-align:top; margin-top:3px;padding-left:5%;}
.right_inner .inner_login_form ul li span {display:inline-block;}
.right_inner .inner_login_form ul li span input[type=text] ,.right_inner .inner_login_form ul li span input[type=password] {padding:3px; border-radius:5px; height:24px;width:140%;}
.right_inner .inner_login_form button.login-btn {width:80%;border:none; background:#1c76b3;border-radius:5px;color:#fff; padding:10px 8px;margin-bottom:10px;font-size:18px;cursor:pointer;}
.right_inner .inner_login_form p {text-align:left;font-size:13px;padding:10px 35px 5px;}
.right_inner .inner_login_form p:after {display:block;content:''; clear:both;}
.right_inner .inner_login_form p a {vertical-align:top;display:inline-block;;background:#dedede;margin-top:-5px; padding:5px;border-radius:5px; 
color:#555;float:right;transition:0.2s ease-in;transform:0s;}
.right_inner .inner_login_form p a:hover {color:#4868e1;transition:0.2s ease-out;transform:0s;}




/* signup_temp css*/
.sub_contents .right_inner>h3 {font-size:24px;}

.sub_contents .right_inner .privacy_temp {height:300px; overflow:hidden; overflow-y:auto;margin:20px 0;border:1px solid #ededed;;text-align:justify; padding:20px;}
.sub_contents .right_inner .agree-radio {text-align:left;margin-bottom:30px;}
.sub_contents .right_inner .next_btn {text-align:center;margin:50px 0;}
.sub_contents .right_inner .next_btn .temp-submit {display:inline-block; padding:12px 35px;background:#1c76b3;color:#fff;font-size:14px;border:0;border-radius:5px;}
.sub_contents .right_inner .next_btn .temp-warning  {display:inline-block; padding:12px 35px;background:#b31c1c;color:#fff;font-size:14px;border:0;border-radius:5px;}


/* signup css */
.right_content .mem_info {text-align:left;width:100%; max-width:800px; margin:0 auto;}
.right_content .mem_info:after {display:block; clear:both; content:'';}
.right_inner .mem_info ul.tab01 li input[type=text] ,.right_inner .mem_info ul.tab01 li input[type=password] {padding:3px; border-radius:5px; height:24px;width:100%;vertical-align:top;}
.right_inner .mem_info ul.tab01 li {display:block;padding:10px 0; border-bottom:1px solid #ededed;}
.right_inner .mem_info ul.tab01 li:after {display:block; clear:both; content:'';}
.right_inner .mem_info ul.tab01 li .w80 {width:80% !important;}
.right_inner .mem_info ul.tab01 li .w60 {width:60% !important;}
.right_inner .mem_info ul.tab01 li .w25 {width:25% !important;}
.right_inner .mem_info ul.tab01 li .w15 {width:15% !important;}
.right_inner .mem_info>h4 {margin:40px 0 20px;font-size:22px;}
.right_inner .mem_info ul.tab01 li em {color:red;}
.right_inner .mem_info ul.tab01 li div:first-child {width:25%;}
.right_inner .mem_info ul.tab01 li div label:first-child {margin-left:0px;}
.right_inner .mem_info ul.tab01 li div .radio_group {width:100%;}
.right_inner .mem_info ul.tab01 li div label {margin-left:20px;}
.right_inner .mem_info ul.tab01 li div {float:left;width:75%;}
.right_inner .mem_info ul.tab01 li div .check, .right_inner .mem_info ul.tab01 li div button {margin:0 10px; padding:6px 12px; border:0; border-radius:5px; background:#4387b8;color:#fff;cursor:pointer}
.right_inner .mem_info ul.tab01 li div select {width:20%;padding:7px 12px;border-radius:5px;vertical-align:top;}
.right_inner .mem_info ul.tab01 li div .inline {display:inline-block;}



/* lost id/pw */
.right_inner .inner_lost_form {width:100%;margin:0 auto; max-width:500px;padding:20px;border:1px solid #eee;border-radius:5px;}
.right_inner .inner_lost_form ul {padding:25px 35px 20px 35px;;text-align:left;  border-top:1px solid #ededed;margin-top:10px;}
.right_inner .inner_lost_form ul:after {display:block; clear:both; content:'';}
.right_inner .inner_lost_form ul li {font-size:18px; line-height:30px;margin-bottom:20px;}
.right_inner .inner_lost_form ul.tab01 li {margin-bottom:0;}
.right_inner .inner_lost_form ul li strong {width:30%;display:inline-block;vertical-align:top; margin-top:3px;padding-left:5%;}
.right_inner .inner_lost_form ul li span {display:inline-block;}
.right_inner .inner_lost_form ul li span input[type=text] ,.right_inner .inner_lost_form ul li span input[type=password] {padding:3px; border-radius:5px; height:24px;width:140%;}
.right_inner .inner_lost_form button.login-btn {width:80%;border:none; background:#1c76b3;border-radius:5px;color:#fff; padding:10px 8px;margin-bottom:10px;font-size:18px;cursor:pointer;}
.right_inner .inner_lost_form p {text-align:left;font-size:13px;padding:10px 35px 5px;}
.right_inner .inner_lost_form p:after {display:block;content:''; clear:both;}
.right_inner .inner_lost_form p a {vertical-align:top;display:inline-block;;background:#dedede;margin-top:-5px; padding:5px;border-radius:5px; 
color:#555;float:right;transition:0.2s ease-in;transform:0s;}
.right_inner .inner_lost_form p a:hover {color:#4868e1;transition:0.2s ease-out;transform:0s;}
.right_inner .inner_lost_form ul.tab01 li div .radio_group {width:100%;}
.right_inner .inner_lost_form .find_info {color:red; font-style:none;}

/* pre_registration */

ul.select-registration {width:100%;}
ul.select-registration:after {display:block; clear:both; content:'';}
ul.select-registration li:first-child {margin-left:0;}
ul.select-registration li {float:left; width:48%; margin-left:4%;text-align:center;padding:12px 0px;border:1px solid #ededed; box-sizing:border-box;background:#1c76b3; transition:0.2s ease-in;border-radius:5px;}
ul.select-registration li.on { background:#4868e1;transition:0.2s ease-out;}
ul.select-registration li.on a {color:#fff;transition:0.2s ease-out;}
ul.select-registration li a {display:block;color:#fff;transition:0.2s ease-in;}
div.inner_guideline {width:calc(100%-50px); height:300px; overflow-y:auto;border:1px solid #ededed;padding:25px;margin:20px 0;border-radius:5px;}

