
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
* {margin:0; padding:0;}
li {list-style:none;}
a {text-decoration:none; color:#232323;}
.clearfix:after {content:''; display:block; clear:both;}
.wrap {width:100%; overflow-x:hidden; min-width:1200px; font-family: 'Noto Sans KR', sans-serif;}

/******************헤더***************/
.header {position:relative; }
.header_fixed {position:fixed; width:100%; height:143px; z-index:9999; background:#fff; border-bottom:1px solid #ddd; }
.header_top_bg  { width:100%; height:44px;  background:#f2f2f2;}
.header_top {width:1200px; margin:0 auto;}
.tnb  {float:right;}
.tnb li {float:left; margin-left:20px;}
.tnb li a {display:block;   font-family: 'Calibri' !important; line-height:44px; color:#3c3c3c; font-size:14px;}

.header_bot {width:1200px; height:104px; margin:0 auto;}
.header_bot h1 {margin:28px 0; float:left;} 
.header_bot h1 img {vertical-align:middle;}
.header_bot .gnb {float:right;}
.header_bot .gnb > li {position:relative; float:left; line-height:104px; padding:0 30px;}
.header_bot .gnb >  li.last_menu {padding-right:0;}
.header_bot .gnb >  li.last_menu.on:after {display:none;}
.header_bot .gnb >  li.last_menu a {display:block; width:37px; height:28px; background:url(' ../img/main/all_btn.gif') no-repeat; margin-top:37px;}
.header_bot .gnb >  li.last_menu a.on {background:url(' ../img/main/close_btn.png') no-repeat;}
.header_bot .gnb > li.on:after { content:''; bottom:5px; left:50%; margin-left:-42px;  width:84px; height:5px; position:absolute; background:#4868e1;}

.header_bot .gnb > li > a {font-size:19px; color:#232323;}
.all_menu_btn {vertical-align:middle;}
.depth2_ul {display:none; position:absolute; top:104px; left:0; width:100%; background:#fff; padding:20px 0; border-top:2px solid #254a94;}
.depth2_ul > li {line-height:30px; text-align:center;}
.depth2_ul li a {font-size:14px;}
.depth2_ul li a:hover {color:#1c76b3;}

.all_depth_wrapper {display:none; position:absolute; top:144px; left:0; width:100%;background:#fff;  border-bottom:1px solid #ccc; z-index:9999; }
.all_depth_wrapper .all_depth_list {width:1200px; margin:0 auto;}
.all_depth_wrapper .all_depth_list > li {float:left; width:200px; height:380px;  text-align:center;  box-sizing:border-box; border-right:1px solid #ccc;}
.all_depth_wrapper .all_depth_list > li:hover {background:#f5f9fb;}
.all_depth_wrapper .all_depth_list > li:first-child { border-left:1px solid #ccc;}
.all_depth_wrapper .all_depth_list > li > span {display:block;  font-size:20px; color:#000; border-bottom: 1px solid #cccccc;  padding:20px 0; font-weight:bold; }
.all_depth_wrapper .all_depth_list > li > ul {margin:20px 0;}
.all_depth_wrapper .all_depth_list > li > ul > li {line-height:35px;}
.all_depth_wrapper .all_depth_list > li > ul > li > a:hover {color:#1c76b3;}




/******************메인**********************/
.main { padding-top:144px;}
.main .main_visual {width:100%; text-align:center;  }
.main .main_visual img { vertical-align:top;}

.main_contents_wrap {position:relative; height:243px;}
.main_contents {width:1200px; position:absolute; left:50%; bottom:70px; margin-left:-600px;  }

.main_contents .section {float:left; width:380px; height:243px; margin-left:30px; padding:38px 18px; box-sizing:border-box;  }
.main_contents .section h2 a {display:block;font-size:24px; color:#fff; font-weight:400; padding:0 3px; letter-spacing:-0.02em;  }
.main_contents .section h2 span {float:right;  font-size:14px; margin-top:16px; opacity:0.7;}
.section_txt {font-size:14px; font-weight:300; color:#fff; line-height:23px; margin:20px 10px 10px 10px ; letter-spacing:-0.03em;}
.main_contents .section:first-child {margin-left:0;}
.main_contents .section01 {background:url('../img/main/section_bg01.gif') no-repeat; }
.main_contents .section02 {background:url('../img/main/section_bg02.gif') no-repeat; }
.search_h {height:45px; border:1px solid #ccc; box-sizing:border-box; margin:0 10px;}
.search_h select {width:90px; border:none; border-right:1px solid #ccc; height:100%;  float:left; font-size:14px; outline:none; background:#fff;}
.search_h input { width:189px; float:left;height:100%; border:none; border-right:1px solid #ccc; vertical-align:top;  padding:0 5px; box-sizing:border-box; font-size:14px; outline:none;} 
.search_h button {width:43px; float:right;height:100%; border:none;   vertical-align:top; }

.main_contents .section03 {background:url('../img/main/section_bg03.gif') no-repeat; }
.register_btn:hover { border:1px solid #4e2fb0; background:#4e2fb0;}
.register_btn01 { margin-bottom:5px; }
.register_btn {background:none ;border:1px solid #fff; display:block; width:142px; line-height:40px;  border-radius:5px; color:#fff; text-align:center;  font-size:14px; }

.news_contents {width:1200px; margin:50px auto 120px; }
.news_contents > div {float:left;}
.news_contents > div.news_tit {text-align:center; width:10%; margin-right:5%;}
.news_contents > div.news_txt {width:75%; margin-right:6%;}
.news_contents > div.news_btns {float:right;}
.news_contents > div.news_btns > a {display:block; border:1px solid #e1e1e1; box-sizing:border-box;}
.news_contents > div.news_btns > a.pause_btn {border-top:none; border-bottom:none;}
.news_contents > div.news_btns > a > img  {vertical-align:middle;}
.news_tit > span {width:68px;  font-size:15px; font-weight:300; color:#3d3d3d; opacity:0.7;}
.news_tit > h2 { font-size:22px; color:#000; text-align:center;}
.news_tit > a {width:68px;  display:inline-block; border:2px solid #005dd0; border-radius:30px; color:#005dd0; font-size:13px; padding:1px 10px; font-weight:700; box-sizing:border-box; margin-top:10px;}
.news_txt > h3 {font-size:20px; line-height:31px; color:#1c1e1d; font-weight:500; margin-bottom:22px;}
.news_txt > p {font-size:16px; line-height:21px; color:#1c1e1d; font-weight:300; opacity:0.7; }



.quick_menu {width:1200px; margin:0 auto 75px ;}
.quick_menu > span {display:block; text-align:center; font-size:21px; color:#646464;  font-weight:bold;}
.quick_menu > h2 {position:relative; text-align:center; font-size:33px; font-weight:bold; color:#000; margin-bottom:150px; padding-bottom:20px; letter-spacing:-0.02em;}
.quick_menu > h2:after {position:absolute; bottom:0; left:50%; margin-left:-37px; content:''; width:74px; height:1px; background:#bfd8e9;}
.quick_menu  .quick_menu_list li {float:left; width:182px; height:138px; margin-left:20px;}
.quick_menu  .quick_menu_list li:first-child {margin-left:0;}
.quick_menu  .quick_menu_list li a {position:relative; display:block; text-align:center; font-size:17px; color:#2d3133;}
.quick_menu  .quick_menu_list li a img {position:absolute; top:-30px; left:50%; margin-left:-32.5px;}
.quick_menu  .quick_menu_list li a .quick_img {position:absolute; top:-31px; left:50%; margin-left:-34px; display:block; width:65px; height:65px; }
.quick_menu .quick_menu_list li a .quick_img01 {background:url('../img/main/quick01.gif'); margin-left:-32.5px;}
.quick_img02 {background:url('../img/main/quick02.gif');}
.quick_img03 {background:url('../img/main/quick03.gif');}
.quick_img04 {background:url('../img/main/quick04.gif');}
.quick_img05 {background:url('../img/main/quick05.gif');}
.quick_img06 {background:url('../img/main/quick06.gif');}
.quick_menu  .quick_menu_list li a .quick_tit {display:block; padding:58px 0 31px 0; border:1px solid #bfd8e9; box-sizing:border-box;}
.quick_menu  .quick_menu_list li a:hover {color:#36b0ef;}
.quick_menu  .quick_menu_list li a:hover .quick_img01 {background:url('../img/main/quick01_o.gif');}
.quick_menu  .quick_menu_list li a:hover .quick_img02 {background:url('../img/main/quick02_o.gif');}
.quick_menu  .quick_menu_list li a:hover .quick_img03 {background:url('../img/main/quick03_o.gif');}
.quick_menu  .quick_menu_list li a:hover .quick_img04 {background:url('../img/main/quick04_o.gif');}
.quick_menu  .quick_menu_list li a:hover .quick_img05 {background:url('../img/main/quick05_o.gif');}
.quick_menu  .quick_menu_list li a:hover .quick_img06 {background:url('../img/main/quick06_o.gif');}
.board_view_bg {width:100%; background:#ecf3f7; }
.board_view {width:1200px; padding:60px 0;  margin:0 auto;  }
.board_left {float:left; width:42%;}
.board_left h3 {font-size:22px; font-weight:400; margin-bottom:35px;}
.board_left h3 > a {float:right;}
.board_left h3 > a > img {vertical-align:middle;}
.newest_schedule {border-bottom:1px solid #bedbec;}
.newest_schedule h4 {font-size:18px; color:#1c1e1d; line-height:31px; font-weight:500;}
.newest_schedule h4 a:hover {color:#4868e1;}
.newest_schedule h4 > span {float:right; font-size:14px; color:#575757; font-weight:300;}
.ns_info {margin:15px 0; font-size:15px;  font-weight:300; line-height:21px;}
.schedule_list {margin-top:20px; }
.schedule_list li {line-height:28px;}
.schedule_list li a {font-size:15px; color:#343434;}
.schedule_list li a:hover {color:#4868e1;}
.schedule_list li span {float:right; font-size:14px; color:#575757; font-weight:300;}
.board_right {float:right;  width:45%;}
.board_right h3 {font-size:22px; font-weight:400; margin-bottom:35px;}
.board_right h3 > a {float:right;}
.board_right h3 > a > img {vertical-align:middle;}
.ns_txt {margin:15px 0; font-size:15px;  font-weight:300; line-height:21px;}

.swiper-container {width:1200px; margin:42px auto; }


.swiper-slide {display:block;  width:187px; line-height:55px; background:#ebebeb; text-align:center; }


/************************서브****************************/
.sub_contents_wrap {padding-top:144px;}
.sub_top_img > img {vertical-align:bottom;}
.sub_contents {position:relative; width:1200px; margin:0 auto; min-height:1000px; padding-bottom:50px;}
.left_menu {position:absolute; top:-40px; left:0; width:250px; float:left;}
.left_tit { line-height:130px; text-align:center; font-size:28px; color:#fff; background:url('../img/sub/left_bg.gif') no-repeat;}
.menu_list li {text-indent:20px; line-height:50px; border-bottom:1px solid #ccc;}
.menu_list li a {display:block; }

.right_tit {float:left; position:relative; width:910px; margin:30px 0 0 290px; border-bottom:1px solid #ccc; padding-bottom:25px;}
.right_tit h2 {float:left; font-size:28px; color:#444; font-weight:normal;}
.right_tit:before {position:absolute; bottom:-1px; left:0;content:''; width:23px; height:3px; background:#4868e1;}

.right_content {float:left; width:910px; margin-left:290px;}
.breadcrumb {float:right; margin-top:17px; font-size:14px; color:#888;}
.breadcrumb > img {margin:0 5px;}
.breadcrumb > span {margin:0 5px;}
.breadcrumb > span > dd {display:inline-block;}
.current_location {color:#444;}


.right_inner {margin-top:50px;}


/*인사말*/
.section01 .section_left {float:left; width:61%;}
.section_left h2 {color:#2453ab; font-size:20px; margin-bottom:24px;}
.section01 .section_right {float:right;}
.insa_txt {color:#444; font-size:15px; line-height:24px; margin-bottom:24px;}
.chairman_name {float:right; font-size:16px; color:#444; margin-top:50px; }

/*연혁*/
.his_wrap{position:relative; margin-bottom:100px;}
.his_wrap:after{content:"";display:block;position:absolute;top:10px;left:50%;width:1px;height:100%;background:#dddddd;}
.year_row{width:100%;overflow:hidden;}
.year_row+.year_row{margin-top:50px;}
.year_wrap{width:47%;position:relative;}
.year_wrap:after{content:"";display:block;position:absolute;top:0;background:url('../img/sub/his_ico.gif') no-repeat 0 0;width:18px;height:18px;z-index:2;}
.year_wrap.r{float:right;padding-left:30px;}
.year_wrap.r:after{left:-6px; top:10px;}
.year_wrap.l{float:left;padding-right:30px; }
.year_wrap.l:after{right:-7px; top:10px; }
.year_wrap .year{color:#426dde;font-size:25px;font-weight:500;display:block;margin-bottom:25px;}
.year_wrap.l .year{text-align:right;}
.year_wrap.l .his_list{text-align:right}
.year_wrap.l .his_list > strong{float:right}
.year_wrap.r .his_list > strong{float:left}
.his_list{font-size:16px;font-weight:300;}
.his_list > strong{width:110px;display:block;font-weight:400;}
.his_list+.his_list{margin-top:14px;}
.year_wrap.r .list_txt {float:left;}
.year_wrap.r .list_txt > strong { font-weight:450; display:block; }
.year_wrap.r .list_txt > strong.last_list {margin-top:20px;}
.year_wrap.l .list_txt {float:right;}
.year_wrap.l .list_txt > strong { font-weight:500; display:block; }
.year_wrap.l .list_txt > strong.last_list {margin-top:20px;}
/*학회회칙*/
.rule_section {margin-bottom:70px;}
.rule_section h2 {color:#242424; font-size:20px; border-top:3px solid #eee;  border-bottom:1px solid #eee; padding:18px 10px;}
.rule_list {margin-top:30px;}
.rule_list > li {position:relative; padding-left:25px; font-size:15px;  margin-bottom:40px; line-height:28px; }
.rule_list > li > strong {display:block; font-size:17px;}
.rule_list > li:before {position:absolute; top:6px; left:0; content:'';width:16px; height:16px; background:#fff; border:3px solid #2a8ee3; box-sizing:border-box; border-radius:100%; }
.before_none:before {display:none;}
/*임원진*/
.sub_tit {font-size:22px !important; color:#242424; margin-bottom:30px;}
.member_tbl {width:100%; border-collapse:collapse;}
.member_tbl th {background:#eef8ff; padding:15px 0; border-top:2px solid #0062a4; border-bottom:1px solid #0062a4;}
.member_tbl td {text-align:center; padding:10px 0; border-bottom:1px solid #ccc; }
.member_wrap {margin-bottom:50px; }

/*역대학술대회*/
.contest_search {float:right; margin-bottom:30px;}
.contest_search  select {border-radius:3px;  font-size:15px;  border:1px solid #ccc; vertical-align:middle; padding:5px 10px 5px 5px; color:#555;  }
.contest_search .search_wrap {position:relative; display:inline-block; vertical-align:middle;}
.contest_search .search_wrap > input {float:left;}
.contest_search .search_wrap > button {float:left;}
.contest_search .search  { border-radius:3px; padding:5px 10px 5px 5px;  font-size:15px; height:31px; box-sizing:border-box;  border:1px solid #ccc;  outline:none; vertical-align:middle; text-indent:5px;}
.contest_search .search_btn {display:block; position:absolute; top:0; right:0; width:31px; height:31px; background:url('../img/sub/search_icon.gif') center center no-repeat; border:none; cursor:pointer;}
.contest_info {  padding:20px; box-sizing:border-box;}
.contest_info  .contest_img {float:left; width:160px; height:170px; box-sizing:border-box; background:#f9f9f9; border:1px solid #ddd; }
.info_list {float:left;}
.contest_history {border:1px solid #ddd; box-sizing:border-box; margin-bottom:30px; }
.contest_history h3 {color:#3553c5; font-size:18px; padding:20px; box-sizing:border-box; background:#eef8ff; border-bottom:1px solid #ddd;}
.info_list {margin-left:20px;}
.info_list li {color:#010101; font-size:16px;}
.past_regist_btn {float:right; border:1px solid #ddd; border-radius:3px; padding:5px 15px; font-size:14px;}

/*학술행사갤러리*/
.gallery_search {float:right; margin-bottom:30px;}
.gallery_search  select {border-radius:3px;  font-size:15px;  border:1px solid #ccc; vertical-align:middle; padding:5px 10px 5px 5px; color:#555;  }
.gallery_search .search_wrap {position:relative; display:inline-block; vertical-align:middle;}
.gallery_search .search_wrap > input {float:left;}
.gallery_search .search_wrap > button {float:left;}
.gallery_search .search  { border-radius:3px; padding:5px 10px 5px 5px;  font-size:15px; height:31px; box-sizing:border-box;  border:1px solid #ccc;  outline:none; vertical-align:middle; text-indent:5px;}
.gallery_search .search_btn {display:block; position:absolute; top:0; right:0; width:31px; height:31px; background:url('../img/sub/search_icon.gif') center center no-repeat; border:none; cursor:pointer;}
.gallery_list > li {float:left; width:32%; border:1px solid #ddd; box-sizing:border-box; margin-right:2%; margin-bottom:40px; }
.gallery_list > li .gallery_img {width:100%; height:212px; background:#d2d2d2;}
.gallery_tit {line-height:87px; font-size:17px; color:#000; text-align:center;}
.gallery_list > li.last_img {margin-right:0;}
/******************푸터**********************/
.footer {background:#ebebeb; width:100%;clear:both;}
.foot_copy {width:1200px;  margin:0 auto; text-align:left; padding:10px 0;line-height:24px;}
.foot_list {float:right;}
.foot_list li {position:relative; float:left; padding:0 15px;}
.foot_list li:before {position:absolute; top:7px; left:0; content:''; width:2px; height:14px; background:#a8a8a8;}
.foot_list li:first-child:before {display:none;}
.foot_list li a {font-size:14px; color:#444;}
.foot_copy {font-size:14px;}

/******************푸터 모달**********************/

.use_modal_bg {display:none;position:fixed; width:100%; height:100%;  left:0; top:0; background:rgba(0,0,0,0.8); z-index:999999;}
.use_modal_content {display:none; position:fixed; top:10%; left:20%; width:60%; height:600px;overflow:auto; z-index:999999999; background:#fefefe;padding:0%;border:2px solid #dedede;box-sizing:border-box;}
.use_modal_content h2 {position:fixed; font-size:20px;width:59%; text-indent:15px; padding:20px 0; background:#3e9cde; font-weight:normal; color:#fff;}
.use_close_btn {position:absolute; top:22px; right:15px;  cursor:pointer;}


.pri_modal_bg {display:none;position:fixed; width:100%; height:100%;  left:0; top:0; background:rgba(0,0,0,0.8); z-index:999999;}
.pri_modal_content {display:none; position:fixed; top:10%; left:20%; width:60%; height:600px;overflow:auto; z-index:999999999; background:#fefefe;padding:0%;border:2px solid #dedede;box-sizing:border-box;}
.pri_modal_content h2 {position:fixed; font-size:20px;width:59%; text-indent:15px; padding:20px 0; background:#3e9cde; font-weight:normal; color:#fff;}
.pri_close_btn {position:absolute; top:22px; right:15px;  cursor:pointer;  }

.e_modal_bg {display:none;position:fixed; width:100%; height:100%;  left:0; top:0; background:rgba(0,0,0,0.8); z-index:999999;}
.e_modal_content {display:none; position:fixed; top:10%; left:20%; width:60%; height:600px;overflow:auto; z-index:999999999; background:#fefefe;padding:0%;border:2px solid #dedede;box-sizing:border-box;overflow-y:scroll}
.e_modal_content h2 {position:fixed; font-size:20px;width:59%; text-indent:15px; padding:20px 0; background:#3e9cde; font-weight:normal; color:#fff;}
.e_close_btn {position:absolute; top:22px; right:15px;   cursor:pointer; }