/* ==================
	* sub
=================== */
.subvisual{width: 100%;height: 260px;background: #ebf5ff;}
.subvisual .layer1120{height: 260px;position: relative;background-image: url('/include/img/sub/subvisual.png');background-repeat: no-repeat;background-position: 0 center;}
.subvisual .subvisual-txt{position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.subvisual .subvisual-txt h2{padding-bottom: 15px;font-size: 40px;font-weight: 500;color: #033f99;}
.subvisual .subvisual-txt strong{display: block;padding-bottom: 5px;font-size: 14px;font-weight: 500;color: #4695df;}
.subvisual .subvisual-txt p{font-size: 16px;font-weight: 300;color: #555555;line-height: 24px;}

#subcontainer:after{display: block;content: '';clear: both;}
.left{float: left;width: 240px;}
.left-menu-top{position: relative;height: 120px;background: #2b63b8;}
.left h3{width: 100%;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);padding: 0 10px;font-size: 24px;color: #fff;font-weight: 500;text-align: center;}
.left-menu li{border-bottom: 1px solid #d8d8d8;}
.left-menu li.on{background: #4695df;}
.left-menu li a{display: block;padding: 20px 15px;font-size: 16px;color: #222222;font-weight: 500;}
.left-menu li.on a{color: #fff;}
.left-menu li i{display: inline-block;float: right;color: #b3b3b3;}
.left-menu li.on i{color: #fff;}
.left-menu-link{margin-top: 30px;}
.left-menu-link a{display: block;width: 100%;height: 60px;padding: 20px;padding-left: 65px;border: 1px solid #6179cf;background-repeat: no-repeat;background-position: 20px center;background-image: url('/include/img/sub/ic-left-link1.png');font-size: 16px;color: #6179cf;}
.left-menu-link a:not(:first-child){background-image: url('/include/img/sub/ic-left-link2.png');margin-top: 10px;border-color: #2763b9;color: #2763b9;}
.left-menu-link a strong{font-weight: 500;}

.subcon{float: right;width: calc(100% - 240px);min-height: 700px;padding-left: 50px;}
.path{padding: 15px 0 30px;text-align: right;}
.path ul{display: inline-block;}
.path ul li{display: inline-block;position: relative;padding-left: 15px;margin-left: 10px;vertical-align: top;color: #797979;}
.path ul li:not(:first-child):before{display: block;content: '';clear: both;position: absolute;top: 3px;left: 0;width: 5px;height: 9px;background: url('/include/img/sub/bg-path.png') no-repeat center;}
.subcon h4{padding-bottom: 20px;margin-bottom: 60px;border-bottom: 1px solid #d8d8d8;font-size: 26px;font-weight: 500;color: #222;}
.subcontents{padding-bottom: 100px;}
.subcontents .tit{display: block;padding-bottom: 15px;font-size: 18px;font-weight: 500;}
.subcontents .tit + p{font-size: 16px;font-weight: 300;color: #666;line-height: 24px;}
.square{position: relative;padding-left: 20px;}
.square:before{display: block;content: '';clear: both;position: absolute;left: 0;top: 2px;width: 14px;height: 14px;background: url('/include/img/sub/dot-square.png') no-repeat 0 0;}

.contents-box-wrap:after{display: block;content: '';clear: both;}
.contents-box{float: left;padding: 20px;border: 1px solid #c8d1db;}
.contents-box.n2{width: calc((100% - 31px)/2);min-height: 230px;margin-left: 30px;margin-bottom: 30px;}
.contents-box.n2:nth-child(2n+1){margin-left: 0;}
.contents-box .num{display: block;padding-bottom: 15px;font-size: 40px;font-weight: 700;color: #cfd1da;}
.contents-box .tit{display: block;padding-bottom: 10px;font-size: 18px;font-weight: 500;color: #222222;}

/* 학회소개::회장인사말 */
.greeting-contop{margin-bottom: 40px;}
.greeting-contop:after{display: block;content: '';clear: both;}
.greeting-contop .img-wrap{display: inline-block;}
.greeting-contop .name{display: inline-block;padding-left: 20px;font-size: 16px;font-weight: 500;line-height: 24px;}
.greeting-con strong{display: block;padding-bottom: 15px;font-size: 22px;font-weight: 500;}

/* 학회소개::연혁 */
.row{width: 100%;margin-right: 0;margin-left: 0;}
.row:after{display: block;content: '';clear: both;}
.row .left-con{float: left;padding-right: 40px;padding-bottom: 20px;width: 50%;border-right: 1px solid #cbcfd2;text-align: right;}
.row .left-con .month{float: right;}
.row .right-con{float: right;padding-left: 40px;padding-bottom: 20px;width: 50%;border-left: 1px solid #cbcfd2;text-align: left;}
.row .year{display: block;position: relative;padding-bottom: 15px;font-size: 20px;font-weight: 700;color: #0078d4;}
.row .year:before{display: block;content: '';clear: both;position: absolute;top: 0;left: -51px;width: 21px;height: 21px;background: url('/include/img/sub/img-history-dot.png');}
.row .left-con .year{position: relative;}
.row .left-con .year:before{left: auto;right: -52px;}

.history-list:after{display: block;content: '';clear: both;}
.history-list li{width: 100%;line-height: 25px;}
.history-list li:not(:first-child){margin-top: 5px;}
.history-list li *{display: inline-block;font-size: 16px;vertical-align: top;}
.history-list li sup{font-size: 12px;}
.history-list .month{width: 45px;font-weight: 500;color: #222;}
.history-list p{width: calc(100% - 50px);font-weight: 300;color: #666666;}

/* 학회소개::조직도 */
.organ{position: relative;}
.organ img{width: 100%;max-width: 100%;}
.map-pop{/* display: none; */position: absolute;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}

.pop02{top: 150px;} /* 회장 */

.pop03{top: 0;} /* 감사 */

.pop05{top: 225px;} /* 한국기초간호학회장 */
.pop06{top: 265px;} /* 한국지역사회간호학회장 */
.pop07{top: 335px;} /* 한국정신간호학회장 */
.pop08{top: 395px;} /* 한국여성건강간호학회장 */
.pop09{top: 455px;} /* 한국아동간호학회장 */
.pop10{top: 525px;} /* 한국성인간호학회장 */
.pop11{top: 565px;} /* 한국기본간호학회장 */
.pop12{top: auto;bottom: 0;} /* 한국간호행정학회장 */

.pop13{top: 210px;left: auto;-webkit-transform: translateX(0);transform: translateX(0);right: 0;} /* 서기이사 */
.pop14{top: 270px;left: auto;-webkit-transform: translateX(0);transform: translateX(0);right: 0;} /* 회계이사 */
.pop15{top: 330px;left: auto;-webkit-transform: translateX(0);transform: translateX(0);right: 0;} /* 총무이사 */


.pop16{top: 210px;} /* 부회장 */
.pop17{top: 225px;} /* 대외협력위원장 */
.pop18{top: 265px;} /* 교육위원장 */
.pop19{top: 335px;} /* ANR편집위원장 */
.pop20{top: 395px;} /* JKAN편집위원장 */
.pop21{top: 455px;} /* 학술위원장 */
.pop22{top: 525px;} /* 재정위원장 */
.pop23{top: 565px;} /* 기획법제위원장 */
.pop24{top: auto;bottom: 0;} /* 출판위원장 */

.map-pop{display: none;width: 350px;min-height: 150px;padding: 20px 10px 20px 20px;background: #fff;border: 1px solid #cccccc;border-radius: 5px;box-shadow: 0 5px 5px #cccccc;}
.map-popcon .img-wrap{overflow: hidden;display: inline-block;width: 100px;height: 108px;background: #666666;border-radius: 3px;}
.map-popcon .img-wrap img{width: 100%;height: 100%;}
.map-popcon .txt-wrap{display: inline-block;width: calc(100% - 105px);padding-left: 10px;vertical-align: top;}
.map-popcon:not(:first-child){margin-top: 20px;}
.organ-list li{line-height: 25px;}
.organ-list li:after{display: block;content: '';clear: both;}
.organ-list li span{display: inline-block;width: 50px;color: #222222;vertical-align: top;}
.organ-list li p{display: inline-block;width: calc(100% - 60px);padding-left: 3px;color: #666666;vertical-align: top;}
.organ-list li p a{display: block;padding: 5px 0;color: #666;line-height: 16px;word-break: break-all;}

.m-organ{display: none;}

/* 학회소개::역대회장 */
.president .contents-box{min-height: auto;height: 140px;padding: 0;background: #f4f4f9;}
.president .contents-box .img-wrap{display: block;float: left;width: 109px;height: 100%;border-right: 1px solid #dddddd;}
.president .contents-box .img-wrap > img{width: 100%;height: 100%;}
.president .contents-box .text-wrap{float: left;width: calc(100% - 110px);padding: 17px 20px;}
.president .contents-box .text-wrap .name{display: block;padding-bottom: 10px;font-weight: 500;font-size: 16px;}
.president .list-type2 li{font-size: 14px;font-weight: 400;}

/* 학회소개::회원학회 */
.contents-box.n4{width: calc((100% - 67px)/4);margin-left: 22px;margin-bottom: 22px;padding: 0;}
.contents-box.n4:nth-child(2n+1){margin-left: 22px;}
.contents-box.n4:nth-child(4n+1){margin-left: 0;}
.contents-box.n4 a{display: block;}
.contents-box.n4 .img-wrap{display: block;height: 98px;border-bottom: 1px solid #ddd;}
.contents-box.n4 .img-wrap img{width: 100%;height: 100%;}
.contents-box.n4 .tit{height: 50px;padding-bottom: 0;background: #f9f9f9;line-height: 48px;font-weight: 300;font-size: 16px;text-align: center;}

/* 학회소개::정관 */
.term-contop{text-align: right;}
.term-history{font-size: 12px;font-weight: 300;color: #666666;line-height: 18px;}
.term-contents strong{display: block;padding-bottom: 5px;font-size: 14px;font-weight: 500;color: #222222;}
.term-contents strong:nth-of-type(1){margin-top: 20px;}
.term-contents p{margin-bottom: 40px;font-size: 12px !important;line-height: 20px;font-weight: 300;color: #666666;}
.term-contents b{font-size: 12px;font-weight: 500;color: #222;line-height: 20px;}

/* 학회소개::오시는 길 */
.map > iframe{width: 100%;height: 450px;}
.map-con{margin-top: 30px;}
.map-con ul li:after{display: block;content: '';clear: both;}
.map-con ul li:not(:first-child){margin-top: 10px;}
.map-con ul li *{display: inline-block;font-size: 16px;vertical-align: middle;}
.map-con ul li .icon{width: 40px;}
.map-con ul li p{width: calc(100% - 40px);padding-left: 20px;}

/* 학술·교육·행사::사전등록 */
.regi-wrap .contents-box .tit{padding-top: 10px;font-size: 22px;text-align: center;}
.regi-wrap .contents-box:nth-child(1){background: #eceff6;}
.regi-wrap .contents-box:nth-child(1) .btn-primary{background-color: #466cb7;}
.regi-wrap .contents-box:nth-child(2) .btn-primary{background-color: #5a5498;}
.regi-wrap .contents-box:nth-child(2){background: #ecebf6;}
.regi-wrap .contents-box .icon-wrap{display: block;padding: 20px 0 30px;text-align: center;}
.regi-wrap .btn-wrap{padding: 0;}
.regi-wrap .btn{width: 170px;height: 40px;padding: 8px 12px;}
.regi-wrap .btn:nth-child(2){margin-left: 10px;}
.regi-wrap .btn-primary{text-align: left;padding-left: 30px;background-image: url('/include/img/sub/ic-btn-arrow.png');background-position: right 15px center;background-repeat: no-repeat;}

/* 학술·교육·행사::등록/접수 확인 */
.regi-wrap.confirm .tit{text-align: left;}
.regi-wrap.confirm .radio{margin-bottom: 20px;text-align: left;}
.regi-input{}
.regi-input li:after{display: block;content: '';clear: both;}
.regi-input input{margin-bottom: 15px;}
.regi-input label{display: inline-block;width: 80px;font-size: 16px;}
.regi-input label + input{display: inline-block;width: calc(100% - 85px);}
.regi-wrap.confirm .btn-wrap{}
.regi-wrap.confirm .btn-wrap .btn-primary{width: 140px;padding-left: 12px;background-image: none;text-align: center;}

/* 학술·교육·행사::역대 학술·교육·행사 - 갤러리 */
.gall-wrap:after{display: block;content: '';clear: both;}
.gall-box{border: 1px solid #eeeeee;}
.gall-box.n3{float: left;width: calc((100% - 45px)/3);margin-left: 22px;margin-top: 22px;}
.gall-box.n3:nth-child(3n+1){margin-left: 0;}
.gall-box.n3:nth-child(-n+3){margin-top: 0;}
.gall-box .img-wrap{overflow: hidden;display: block;height: 150px;background: #fff;border-bottom: 1px solid #eee;text-align: center;}
.gall-box .tit{overflow: hidden;display: -webkit-box;min-height: 32px;margin: 20px 0;padding: 0 5px;font-weight: 300;font-size: 16px;text-align: center;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.cst-table.gall-view-table th{padding: 10px 20px;}
.cst-table.gall-view-table td.p20{padding: 10px 20px;}
.cst-table.gall-view-table .view-con img{max-width: 100%;}

/* 학술지::JKAN */
.journal-wrap p{font-size: 16px;font-weight: 300;color: #666666;line-height: 24px;}
.journal-wrap strong{font-weight: 400;color: #000000;}
.journal-wrap .btn-link{display: inline-block;color: #2b63b8;}
.journal-wrap .color-blue{padding: 30px 0;color: #2b63b8;}
.journal-wrap .journal-copy{font-size: 14px;color: #999999;font-weight: 300;line-height: 24px;}
.journal-wrap > .btn-wrap{padding: 0;}

/* 학술지::JKAN - 편집위원회 */
.journal-comm:after{display: block;content: '';clear: both;}
.comm-box{border: 1px solid #d5dbde;}
.comm-box-wrap{display: table;width: 100%;}
.comm-box-wrap:after{display: block;content: '';clear: both;}
.comm-box-wrap > div{display: table-cell;}
.comm-box-wrap .comm-box:first-child .comm-list{padding: 50px 0;}
.comm-box-wrap .comm-box:not(:first-child){border-left: 0;}
.comm-box .tit{display: block;height: 50px;background: #eceff6;border-bottom: 1px solid #d5dbde;text-align: center;font-size: 16px;font-weight: 500;color: #2b63b8;line-height: 48px;}
.comm-box .text-wrap{padding: 20px;}
.comm-box .text-wrap:after{display: block;content: '';clear: both;}
.comm-box .w50{width: calc((100% - 30px)/2);float: left;}
.comm-box .w50:last-child{margin-left: 30px;}
.comm-box.w100{border-top: 0;}
.comm-list li{font-size: 16px;}
.comm-list li *{vertical-align: top;line-height: 30px;}
.comm-list li .name{display: inline-block;margin-right: 5px;}
.comm-list li .name b{font-size: 14px;font-weight: 300;}
.comm-list li p{display: inline-block;font-size: 14px;line-height: 30px;}
.comm-box + p{margin-top: 30px;color: #222222;line-height: 24px;}

/* 학술지::JKAN - 검색 */
.sub-link-wrap{margin-top: -120px;margin-bottom: 60px;}
.sub-link-wrap:after{display: block;content: '';clear: both;}
.sub-link-wrap .form-control{width: auto;float: right;}
.sub-link{display: inline-block;width: 140px;height: 40px;padding: 10px;border: 1px solid #dddddd;background-color: #f5f6f8;background-image: url('/include/img/sub/bg-journal-link.png');background-repeat: no-repeat;background-position: right 10px center;text-align: left;}
.sub-link.type2{width: 170px;background: #fff;border-radius: 3px;background-color: #fff;}
.sub-link.type2 i{float: right;}
.journal-sch{margin-top: 20px;}
.journal-sch p{display: inline-block;position: relative;padding: 10px;color: #666666;}
.journal-sch p:before{display: block;content: '';clear: both;position: absolute;top: 15px;left: 0;width: 3px;height: 3px;border-radius: 50%;background: #666;}
.journal-sch .form-group{display: inline-block;float: right;margin-bottom: 0;}
.jkan-sch-box{line-height: 24px;}
.jkan-sch-box .tit{padding-bottom: 15px;margin-bottom: 15px;border-bottom: 1px solid #dadada;font-size: 16px;font-weight: 500;}
.jkan-sch-box .tit2{display: block;margin-bottom: 15px;color: #222;}
.jkan-sch-info li{font-size: 12px;color: #666666;}
.jkan-sch-con{margin-top: 20px;}
.jkan-sch-con a{font-size: 14px;color: #666666;}
.jkan-sch-box:not(:first-child){margin-top: 30px;}
.jkan-key{display: block;padding-top: 30px;font-size: 12px;color: #2b63b8;font-weight: 300;}
.jkan-sch-box .btn-wrap a{display: inline-block;width: 120px;padding-bottom: 5px;border-bottom: 1px solid #222;text-align: left;}
.jkan-sch-box .btn-wrap a:not(:first-child){margin-left: 30px;}
.jkan-sch-box .btn-wrap a i{float: right;padding: 5px 0;}

/* 학술지::ANR - 투고규정 */
.journal-rule-img{margin-top: 20px;}
.journal-rule-img img{width: 100%;max-width: 100%;}

/* 출판::국가시험 핵심 문제집 */
.info-box.book{padding: 25px;}
.info-box.book .tit{padding-top: 15px;padding-bottom: 0;font-weight: 400;font-size: 18px;}
.info-box.book .tit strong{font-weight: 500;}

/* 출판::모의고사 - FAQ*/
.cst-table.faq-table td{vertical-align: top;font-size: 16px;}
.cst-table.faq-table td, .cst-table.faq-table th{border: 0;border-bottom: 1px solid #d5dbde;}
.cst-table.faq-table td.answer-bg{background: #fafafa;color: #666666;font-size: 14px;}
.question{font-size: 16px;font-weight: 500;}
.answer{font-size: 16px;color: #2b63b8;font-weight: 500;}
.answer-tr{display: none;}
.btn-faq{display: inline-block;width: calc(100% - 20px);}
.btn-faq + i{display: inline-block !important;float: right;margin-right: 0 !important;padding: 3px 0;color: #666;}
.btn-faq + i.on{-webkit-transform:rotate(180deg);transform:rotate(180deg);}

/* login */
.login-form{max-width: 540px;margin: 0 auto;padding: 50px 80px;border: 1px solid #dddddd;}
.login-form .tit{display: block;padding-bottom: 40px;text-align: center;font-size: 30px;font-weight: 500;color: #000;}
.login-form .tit img{vertical-align: top;}
.login-contop:after{display: block;content: '';clear: both;}
.login-input{float: left;width: calc(100% - 111px);}
.login-input .form-control{height: 45px;font-size: 15px;}
.login-input input:not(:first-child){margin-top: 5px;}
.login-form button[type="submit"]{float: left;width: 100px;height: 95px;margin-left: 10px;font-size: 16px;}
.login-conb{margin-top: 30px;text-align: center;}
.login-conb li{display: inline-block;}
.login-conb li:not(:first-child){margin-left: 10px;padding-left: 10px;border-left: 1px solid #010101;}
.login-conb li a{font-size: 15px;color: #010101;font-weight: 300;}

.find-id, .find-pw{float: left;width: calc((100% - 31px)/2);padding: 40px 25px;border: 1px solid #dddddd;}
.find-pw{margin-left: 30px;}
.find-form .tit{display: block;padding-bottom: 40px;text-align: center;font-size: 30px;font-weight: 500;color: #000;}
.find-form p{margin-bottom: 25px;line-height: 20px;color: #666666;text-align: center;}
.find-input .form-control{height: 45px;}
.find-input input:not(:first-child){margin-top: 5px;}
.find-contop button[type="submit"]{width: 100%;height: 45px;font-size: 16px;}
.find-id button[type="submit"]{margin-top: 90px;}
.find-pw button[type="submit"]{margin-top: 40px;}

.info-box{padding: 50px 55px;margin-bottom: 40px;border: 4px solid #e2e6f0;text-align: center;font-size: 16px;font-weight: 300;color: #222222;line-height: 25px;}
.info-box img{max-width: 100%;height: auto !important;}
.bg-box{margin-top: 40px;margin-bottom: 40px;background: #f2f8fd;border-top: 2px solid #2b63b8;text-align: center;}
.account-info{display: block;padding: 15px;font-size: 16px;line-height: 25px;color: #222222;}
.account-info img{vertical-align: middle;margin-right: 10px;}
.border-box{padding: 20px 0;margin-bottom: 40px;border-top: 1px solid #d5dbde;border-bottom: 1px solid #d5dbde;}

.join-confirm-box{float: left;width: calc((100% - 31px)/2);height: 235px;padding: 20px;background: #eceff6;border: 1px solid #d8dde6;}
.join-confirm-box:not(:first-child){margin-left: 30px;background: #ecebf6;}
.join-confirm-box .tit{display: block;padding-bottom: 20px;font-size: 22px;font-weight: 500;color: #000;}
.join-confirm-input label{display: inline-block;width: 70px;} 
.join-confirm-input label + input{display: inline-block;width: calc(100% - 75px);}
.join-confirm-input input{margin-bottom: 5px;}
.join-confirm-box .btn-wrap{margin-top: 15px;}
.join-confirm-box .table-wrap{height: 152px;overflow-y: auto;}
.join-confirm-box .cst-table th, .join-confirm-box .cst-table td{padding: 1px 5px;border-color: #d0cfe1;font-size: 12px;}
.join-confirm-box .cst-table th{background: #dbdae9;}
.join-confirm-box .cst-table td{background: #f8f7fc;}
.join-confirm + .btn-wrap{margin-top: 40px;}

.tit.dot{display: block;padding-left: 10px;margin-bottom: 20px;position: relative;font-size: 16px;color: #222222;}
.tit.dot:before{display: block;content: '';clear: both;position: absolute;top: 7px;left: 0;width: 4px;height: 4px;background: #4695df;border-radius: 50%;}
.term-con{overflow-y: auto;width: 100%;height: 180px;margin-bottom: 40px;padding: 20px;border: 1px solid #dddddd;background: #f9f9f9;line-height: 20px;}
.radio{margin-bottom: 40px;text-align: center;}
.radio p{margin-bottom: 20px;}

/* 탭메뉴 */
.sub-tabmenu{margin-bottom: 40px;}
.sub-tabmenu:after{display: block;content: '';clear: both;}
.sub-tabmenu li{float: left;width: 33%;position: relative;height: 50px;padding: 10px;background-color: #fff;border: 1px solid #d5dbde;border-left: 0;font-size: 18px;color: #222222;text-align: center;}
.sub-tabmenu li:nth-child(1){border-left: 1px solid #d5dbde;}
.sub-tabmenu li span{display: block;position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);left: 0;width: 100%;text-align: center;}
.sub-tabmenu li img{margin-right: 15px;vertical-align: middle;}
.sub-tabmenu li.on{border: 1px solid #2b63b8;background-color: #fff;}
.sub-tabmenu li.on a{background-color: #fff;color: #222222;}
.sub-tabmenu li a{-webkit-transition: 0.3s ease;transition: 0.3s ease;}

.sub-tabmenu.type2{margin: 0 auto 40px;}
.sub-tabmenu.type2 li{padding: 0;}
.sub-tabmenu.type2 li.on a{background: #354870;color: #fff;}
.sub-tabmenu.type2 li a{display: block;width: 100%;height: 100%;padding: 15px 5px;-webkit-transition: 0.3s ease;transition: 0.3s ease;}

.sub-tabmenu.type3{margin-bottom: 15px;}
.sub-tabmenu.type3 li{position: relative;width: auto;height: auto;border: 0;text-align: left;}
.sub-tabmenu.type3 li:not(:first-child){margin-left: 20px;}
.sub-tabmenu.type3 li:before{display: block;content: '';clear: both;position: absolute;top: 17px;left: 0;width: 5px;height: 5px;border-radius: 50%;background: #999;}
.sub-tabmenu.type3 li.on:before{background: #2b63b8;}
.sub-tabmenu.type3 li.on a{color: #2b63b8;}
.sub-tabmenu.type3 li a{color: #999999;font-size: 16px;font-weight: 500;-webkit-transition: 0.3s ease;transition: 0.3s ease;}

.sub-tabmenu.n2{max-width: 320px;}
.sub-tabmenu.n2 li{width: 50%;}
.sub-tabmenu.n3{max-width: 480px;}
.sub-tabmenu.n3 li{width: 33.33%;}
.sub-tabmenu.n4{max-width: 640px;}
.sub-tabmenu.n4 li{width: 25%;}

.join-complete{text-align: center;}
.join-complete .tit{display: block;margin-top: 30px;font-size: 22px;font-weight: 500;}
.join-complete .tit strong{color: #2b63b8;}
.join-complete .fee{padding: 20px 0 30px;font-size: 16px;font-weight: 300;line-height: 28px;}
.join-complete .fee strong{font-weight: 700;}
.join-complete p{font-size: 14px;color: #666;}

.state{display: inline-block;padding: 0 10px;color: #1554b3;}
.n-state{color: #ff0000;}

.sponsor .info-box{min-height: 170px;padding: 70px 55px;margin-bottom: 30px;background: #eeeeee;border: 0;font-weight: 500;}

/* 사이트맵 */
.sitemap-wrap{text-align: center;}
.sitemap-list:after{display: block;content: '';clear: both;}
.sitemap-list > li{float: left;width: calc((100% - 45px)/3);min-height: 325px;margin-left: 22px;margin-bottom: 22px;padding: 20px;border: 1px solid #d5dbde;border-radius: 3px;}
.sitemap-list > li:nth-child(3n+1){margin-left: 0;}
.sitemap-list > li .tit{display: block;padding-bottom: 15px;margin-bottom: 15px;border-bottom: 2px solid #2b63b8;font-size: 22px;}
.sitemap-list > li > ul > li{line-height: 26px;}
.sitemap-list > li > ul > li a{display: block;color: #666666;font-size: 16px;font-weight: 300;}

/* search */
.sch-wrap{margin-bottom: 40px;}
.sch-box{padding: 25px 20px;background: #eceff6;border: 1px solid #d5dbde;text-align: right;}
.sch-box .form-group{display: block;margin-bottom: 0;}
.sch-box .form-group:after{display: block;content: '';clear: both;}
.sch-box label{float: left;padding: 9px 0;font-size: 16px;color: #222222;}
.sch-box .sch-input{display: inline-block;float: right;}
.sch-box input[type="text"]{width: 400px;}
.sch-box button{width: 140px;}

/* ==================
	* common
=================== */
.d-block{display: block;}
.form-group.d-block{display: block;margin-top: 2px;}
.d-inlnie{display: inline-block;}
.bg-blue{background: #2b63b8;}
.bg-blue2{background: #466cb7;}
.color-grey{color: #666666;}
.color-blue{color: #2b63b8;}
.color-red{color: #ff0000;}
.color-blue strong{font-weight: 500;}
.color-blue:hover{color: #2b63b8;}
.underline{text-decoration: underline;}
.bg-grey{background: #71808f;color: #fff !important;}
.bg-grey:hover, .bg-grey:active, .bg-grey:focus, .bg-grey:visited{background: #71808f;}
.btn-warning{color: #fff !important;}
.m-br{display: none;}
.required{color: #ff0000;}
.mt5{margin-top: 5px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt50{margin-top: 50px;}
.p30{padding-top: 30px;padding-bottom: 30px;}
.mb0{margin-bottom: 0 !important;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.form-control.w30{width: 30%;}
.form-control.w40{width: 40%;}
.form-control.w50{width: 50%;}
/* 190806 P. */
.form-control.w70{width: 70%;}
.w100{width: 100%;}

.m-show{display: none;}
.m-tab-br{display: none;}

.info-box-bg{min-height: 310px;padding: 30px;background: #f9f9f9;border: 1px solid #dddddd;}

.list-type1 li{position: relative;padding-left: 10px;color: #666666;line-height: 25px;}
.list-type1 li:before{display: block;content: '';clear: both;position: absolute;left: 0;top: 12px;width: 4px;height: 1px;background: #666666;}

.list-type2 li{position: relative;padding-left: 15px;color: #666;font-size: 16px;font-weight: 300;line-height: 26px;}
.list-type2 li:before{display: block;content: '';clear: both;position: absolute;left: 0;top: 12px;width: 3px;height: 3px;border-radius: 50%;background: #666;}

.list-type3 li{position: relative;padding-left: 10px;font-size: 16px;}
.list-type3 li:before{display: block;content: '';clear: both;position: absolute;top: 15px;left: 0;width: 5px;height: 5px;background: #222222;border-radius: 50%;}
.list-type3 li:after{display: block;content: '';clear: both;}

/* input[type=checkbox], input[type=radio]{margin: 4px 0 0;} */
.checkbox label, .radio label{line-height: 20px;}

/* table */
.table-wrap{border-top: 2px solid #2b63b8;}
.table-wrap.n-border{border: 0;}
.table-wrap table caption{font-size: 0;line-height: 0;}
.cst-table{table-layout: fixed;}
.cst-table th, .cst-table td{padding: 10px;border: 1px solid #d5dbde;text-align: center;line-height: 22px;vertical-align: middle;}
.cst-table th{background: #f5f7fa;font-size: 16px;}
.cst-table th.text-left{text-align: left;}
.cst-table td{font-size: 14px;}
.cst-table tbody th{background: #f5f7fa;font-size: 14px;}
.cst-table td.text-left{text-align: left;}
.cst-table td.bg-pink{background: #fdefed;}
.cst-table td a.btn-regi{padding: 0;color: #2b63b8;}
.cst-table td.address input:not(:first-child){margin-top: 5px;}
.cst-table td .radio{margin-top: 0;margin-bottom: 0;text-align: left;}
.form-control.w100p{width: 100%;}
.regi-table tbody th{background: #e6effa;font-size: 14px;}
.border-table th:first-child, .border-table td:first-child{border-left: 0;}
.border-table th:last-child, .border-table td:last-child{border-right: 0;}
.cst-table td .view-con{padding: 30px 20px;}
.cst-table .nowrap{overflow: hidden;display: block;float: left;width: 100%;max-width: 100%;text-overflow: ellipsis;white-space: nowrap;}
.cst-table .nowrap img{margin-top: 4px;margin-left: 3px;vertical-align: top;}
.cst-table .reply{float: left;}
input[type="file"]{height: auto !important;}
.cst-table .xi-angle-up, .cst-table .xi-angle-down{margin-right: 5px;}
.subscribe-table .checkbox-inline:nth-child(4n+1){margin-left: 0;}

/* button */
.btn-wrap{padding: 10px 0;}
.btn-wrap .btn{margin: 0 1px;}
.regi-confirm{padding: 9px 51px;}
.regi-confirm:hover, .regi-confirm:focus, .regi-confirm:active, .regi-confirm:visited{color: #fff;}
.btn-big{width: 180px;height: 40px;}
a.btn-big{padding: 8px 12px;color: #fff;}
.btn-link, .btn-down{display: block;color: #222;}
.btn-link:hover, .btn-down:hover{color: #354870;text-decoration: underline;}
.btn-primary{color: #fff !important;}
.btn-danger{color: #fff !important;}
.btn-file{margin: 1px;}
.btn-print img{margin-top: 2px;margin-left: 2px;vertical-align: top;}
a.btn-pdf{display: inline-block;width: 180px;height: 40px;padding: 12px 20px;background-color: #71808f;border-radius: 5px;background-image: url('/include/img/sub/ic-down.png');background-repeat: no-repeat;background-position: right 20px center;color: #fff;text-align: left;}

/* paging */
.paging{padding: 30px 0;text-align: center;}
.btn-wrap + .paging{padding: 0 0 30px;}
.paging *{display: inline-block;vertical-align: top;}
.paging span{font-size: 0;line-height: 0;width: 14px;height: 44px;background-repeat: no-repeat;background-position: center;}
.paging .first span{background-image: url('/include/img/sub/pagi-first.png');}
.paging .prev span{margin-right: 20px;background-image: url('/include/img/sub/pagi-prev.png');}
.paging .next span{margin-left: 20px;background-image: url('/include/img/sub/pagi-next.png');}
.paging .last span{background-image: url('/include/img/sub/pagi-last.png');}
.paging .num{width: 40px;height: 44px;margin-left: -3px;font-size: 14px;color: #222222;text-align: center;line-height: 42px;-webkit-transition: 0.3s ease;transition: 0.3s ease}
.paging .num.on , .paging .num:hover{background: #2b63b8;color: #fff;}

/* modal poopup*/
.cst-modal .modal-header{border-bottom: 0;}
.cst-modal .modal-title{padding-top: 20px;font-size: 16px;color: #000;}
.cst-modal .modal-header i{color: #444444;font-size: 24px;}
.cst-modal .close{text-shadow: none;opacity: 1;}
.cst-modal .modal-body{padding-top: 0;padding-bottom: 30px;}
.pop-form{margin-bottom: 20px;}
.pop-form:after{display: block;content: '';clear: both;}
.pop-form .form-group{width: 100%;margin-bottom: 0;}
.pop-form .form-control{display: inline-block;width: calc(100% - 60px);}
.pop-form .btn{vertical-align: top;}
.cst-modal .modal-body .table-wrap{max-height: 470px;overflow-y: auto;}
.cst-modal .modal-body .cst-table td, .cst-modal .modal-body .cst-table th{padding: 8px;font-size: 12px;}

.pop-password .modal-dialog{max-width: 400px;}
.pop-password p{margin-bottom: 30px;font-size: 14px;line-height: 20px;}

.modal-title{font-size: 16px;font-weight: 500;}
.modal-body p{color: #333;line-height: 20px;}

/* 마이페이지 */
.m-mypage-tab{display: none;}

/* ==================
	* media
=================== */
@media screen and (max-width:1200px) {
	.login-txt{padding: 25px 0 20px;font-size: 16px;}
	.subvisual{height: 180px;}
	.subvisual .layer1120{height: 180px;background-size: 100%;background-position: bottom right;}
	.subvisual .subvisual-txt{padding: 0 20px;}
	.subvisual .subvisual-txt h2{font-size: 32px;}
	.subvisual .subvisual-txt p{font-size: 14px;line-height: 20px;}
	.left{display: none;}
	.subcon{float: none;width: 100%;min-height: auto;padding: 0 15px;}
	
	.login-form{padding: 50px 30px;}
	.checkbox-inline, .radio-inline{width: 49%;margin-left: 0;}
	.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{margin-left: 0;}

	/* 학술·교육·행사::사전등록 */
	.regi-wrap .btn{width: 40%;margin: 0;}

	/* 마이페이지 */
	.m-mypage-tab{display: block;}
	.m-mypage-tab li{border-top: 0;}
	.m-mypage-tab li:first-child a{padding: 12px 0 !important;}
	.m-mypage-tab li:nth-child(-n+3){border-top: 1px solid #d5dbde;}
	.m-mypage-tab li:nth-child(3n+1){border-left: 1px solid #d5dbde;}	

}
@media screen and (max-width:768px) {
	.subvisual{height: 150px;}
	.subvisual .layer1120{height: 150px;background-image: url('/include/img/sub/m-subvisual.png');background-size: 100%;}

	.subvisual .subvisual-txt h2{font-size: 24px;}
	.subvisual .subvisual-txt strong{font-size: 12px;}
	.subvisual .subvisual-txt p{font-weight: 500;}

	.path{padding: 10px 0 20px;}
	.path ul li{font-size: 13px;}

	.subcon h4{padding-bottom: 20px;margin-bottom: 30px;font-size: 22px;}
	.subcontents .tit{padding-bottom: 10px;font-size: 16px;}
	.subcontents .tit + p{font-size: 14px;line-height: 20px;}
	.contents-box.n2{width: 100%;height: auto;min-height: auto;margin-bottom: 20px;margin-left: 0;}
	.contents-box .num{padding-bottom: 10px;font-size: 24px;}
	.contents-box .tit{font-size: 16px;}

	.greeting-contop{margin-bottom: 20px;}
	.greeting-contop .img-wrap{display: block;text-align: center;}
	.greeting-contop .name{display: block;padding-left: 0;padding-top: 10px;text-align: center;}
	.greeting-con strong{font-size: 18px;line-height: 20px;}

	.login-form{padding: 30px;}
	.login-form .tit{padding-bottom: 20px;font-size: 20px;}
	.login-form .tit img{height: 20px;}
	.login-input{float: none;width: 100%;}
	.login-input .form-control{height: auto;font-size: 14px;}
	.login-form button[type="submit"]{float: none;margin-left: 0;margin-top: 20px;width: 100%;height: auto;font-size: 14px;}
	.login-conb{margin-top: 20px;}
	.login-conb li a{font-size: 14px;}

	.find-id, .find-pw{float: none;width: 100%;padding: 30px;}
	.find-pw{margin-left: 0;margin-top: 30px;}
	.find-form .tit{padding-bottom: 20px;font-size: 20px;}
	.find-form p{margin-bottom: 20px;}
	.find-input .form-control{height: auto;}
	.find-id button[type="submit"]{margin-top: 20px;height: auto;font-size: 14px;}
	.find-pw button[type="submit"]{margin-top: 20px;height: auto;font-size: 14px;}

	.info-box{margin-bottom: 20px;padding: 20px;font-size: 14px;line-height: 20px;}
	.info-box-bg{padding: 20px;}
	.bg-box{margin-top: 20px;margin-bottom: 20px;}
	.account-info{font-size: 14px;line-height: 20px;}
	.account-info img{width: 40px;}
	.border-box{margin-bottom: 20px;padding: 15px 0;}

	.join-confirm-box{width: 100%;height: auto;}
	.join-confirm-box:not(:first-child){margin-left: 0;margin-top: 20px;}
	.join-confirm-box .tit{font-size: 18px;}
	.join-confirm + .btn-wrap{margin-top: 20px;}
	.join-confirm-box .table-wrap{height: auto;}
	.btn-regi{padding: 6px 12px;}

	.sub-tabmenu{margin-bottom: 20px;}
	.sub-tabmenu li{height: 40px;font-size: 14px;}
	.sub-tabmenu li img{display: none;}
	.sub-tabmenu.type3 li:before{top: 15px;}
	.sub-tabmenu.type3 li:not(:first-child){margin-left: 10px;}
	.sub-tabmenu.type3 li a{font-size: 14px;}
	.tit.dot{margin-bottom: 15px;font-size: 15px;}
	.term-con{padding: 15px;margin-bottom: 20px;font-size: 13px;line-height: 18px;}
	.radio p{line-height: 18px;}
	.btn-big{width: 45%;}

	.sub-tabmenu.type2 li a{padding: 12px 0;}

	.regi-table .form-control{margin: 1px;}
	.join-regi .border-table colgroup col:nth-child(1){width: 30% !important;}
	.join-regi .border-table colgroup col:nth-child(2){width: 70% !important;}
	.regi-table colgroup col:nth-child(1){width: 30% !important;}
	.regi-table colgroup col:nth-child(2){width: 70% !important;}

	.write-table.exam .form-group{margin-bottom: 0;}

	.join-complete > img{width: 80px;}
	.join-complete .tit{margin-top: 20px;font-size: 16px;line-height: 22px;}
	.join-complete .fee{padding: 10px 0 20px;font-size: 14px;line-height: 22px;}
	.join-complete p{font-size: 12px;line-height: 16px;}

	.sponsor .info-box{margin-bottom: 20px;}
	.sponsor .info-box + .btn-wrap + .mt30{margin-top: 20px;}

	/* 사이트맵 */
	.sitemap-list > li{width: calc((100% - 21px)/2);padding: 20px 10px;min-height: 280px;margin-left: 15px;margin-bottom: 20px;}
	.sitemap-list > li:nth-child(3n+1){margin-left: 20px;}
	.sitemap-list > li:nth-child(2n+1){margin-left: 0;}
	.sitemap-list > li .tit{padding-bottom: 15px;margin-bottom: 15px;font-size: 16px;}
	.sitemap-list > li > ul > li a{font-size: 14px;line-height: 22px;}

	/* 학회소개::연혁 */
	.row{border-bottom: 1px solid #cbcfd2;margin-bottom: 20px;}
	.row:last-child{border-bottom: 0;}
	.row .left-con{float: left;padding-right: 0;padding-left: 20px;width: 100%;border-right: 0;text-align: left;}
	.row .left-con .month{float: left;}
	.row .right-con{float: left;padding-left: 20px;width: 100%;border-left: 0;text-align: left;}
	.row .year{font-size: 18px;}
	.row .year:before{top: 3px;left: -21px;width: 15px;height: 15px;background-size: 100%;}
	.row .left-con .year:before{right: auto;left: -21px;}

	.history-list li *{font-size: 14px;}

	/* 학회소개::조직도 */
	.organ{display: none;}
	.m-organ{display: block;}
	.m-organ img{width: 100%;max-width: 100%;}

	/* 학회소개::역대회장 */
	.president .contents-box .text-wrap .name{font-size: 15px;}

	/* 학회소개::회원학회 */
	.contents-box.n4{width: calc((100% - 23px)/2);}
	.contents-box.n4:nth-child(2n+1){margin-left: 0;}
	.contents-box.n4:nth-child(4n+1){margin-left: 0;}
	.contents-box.n4 .img-wrap{height: auto;}
	.contents-box.n4 .tit{height: 40px;line-height: 38px;font-size: 14px;}

	/* 학회소개::오시는 길 */
	.map iframe{height: 300px;}
	.map-con ul li *{font-size: 14px;line-height: 20px;}
	.map-con ul li img{width: 25px;}
	.map-con ul li p{padding-left: 10px;}

	/* 학술·교육·행사::역대 학술·교육·행사 */
	.sel-year .form-group{display: inline-block;margin-top: 10px;margin-bottom: 0;width: auto;text-align: right;}

 	/* 학술·교육·행사::사전등록 */
	.regi-wrap .contents-box .tit{padding-top: 0;font-size: 18px;}
	.regi-wrap .contents-box .icon-wrap{padding: 10px 0 15px;}
	.regi-wrap .contents-box .icon-wrap img{width: 70px;}
	.regi-wrap .btn{width: 45%;height: auto;padding: 8px;}
	.regi-wrap .btn-primary{background-image: none;text-align: center;}

	/* 학술·교육·행사::등록/접수확인 */
	.regi-input label{font-size: 14px;}
	.regi-wrap.confirm .btn-wrap .btn-primary{width: auto;padding: 6px 12px;font-size: 13px;}

	/* 학술·교육·행사::역대 학술·교육·행사 - 갤러리 */
	.gall-box.n3{width: 100%;margin-left: 0;}
	.gall-box.n3:nth-child(-n+3){margin-top: 22px;}
	.gall-box.n3:first-child{margin-top: auto;}
	.gall-box .img-wrap{height: 200px;}
	.gall-box .img-wrap img{height: 100% !important;max-width: 100%;}
	.gall-box .tit{min-height: 28px;padding-bottom: 0;font-size: 14px;}

	.cst-table.gall-view-table th{padding: 10px;}
	.cst-table.gall-view-table td.p20{padding: 10px;}
	.cst-table.gall-view-table .view-con img{max-width: 100%;}

	/* 학술지::JKAN */
	.journal-wrap p{font-size: 14px;line-height: 20px;}
	.journal-wrap .color-blue{padding: 15px 0;color: #2b63b8;}
	.journal-wrap .journal-copy{font-size: 13px;line-height: 20px;}

	/* 학술지::JKAN - 편집위원회 */
	.comm-box-wrap > div{display: block;}
	.comm-box-wrap .comm-box:first-child .comm-list{padding: 0;}
	.comm-box-wrap .comm-box:not(:first-child){border-top: 0;border-left: 1px solid #d5dde;}
	.comm-box .tit{height: auto;padding: 10px;line-height: 1;}
	.comm-box .text-wrap{padding: 20px;}
	.comm-box .w50{float: none;width: 100%;}
	.comm-box .w50:last-child{margin-left: 0;}
	.comm-box.w100{border-top: 0;}
	.comm-list li{font-size: 14px;}
	.comm-list li *{line-height: 24px;}
	.comm-list li .name{display: block;margin-right: 0;}
	.comm-list li p{font-size: 13px;line-height: 24px;}
	.comm-box + p{margin-top: 15px;}

	/* 학술지::JKAN - 검색 */
	.sub-link-wrap{margin-top: -30px;margin-bottom: 10px}
	.sub-link{width: 100px;height: 30px;padding: 7px 10px;font-size: 13px;}
	.journal-sch p{display: block;line-height: 20px;}
	.journal-sch .form-group{display: block;width: 100%;float: right;text-align: right;}
	.journal-sch .form-group *{display: inline-block;width: auto;}
	.jkan-sch-box{line-height: 20px;}
	.jkan-sch-box .tit{font-size: 15px;}
	.jkan-sch-box .tit2{margin-bottom: 10px;}
	.jkan-sch-con{margin-top: 10px;}
	.jkan-sch-box:not(:first-child){margin-top: 30px;}
	.jkan-key{padding-top: 15px;}
	.jkan-sch-box .btn-wrap{padding: 20px 0 0;}
	.jkan-sch-box .btn-wrap a{width: 100px;font-size: 13px;}
	.jkan-sch-box .btn-wrap a:not(:first-child){margin-left: 20px;}

	/* 출판::국가시험 핵심 문제집 */
	.info-box.book .tit{font-size: 16px;}

	/* 출판::모의고사 - FAQ*/
	.cst-table.faq-table td{font-size: 14px;}
	.question{font-size: 14px;}
	.answer{font-size: 14px;}
	.faq-table colgroup col:nth-child(1){width: 20% !important;}
	.faq-table colgroup col:nth-child(2){width: 80% !important;}

	/* search */
	.sch-wrap{margin-bottom: 20px;}
	.sch-box{padding: 15px;}
	.sch-box label{display: none;}
	.sch-box .sch-input{width: 100%;}
	.sch-box input[type="text"]{float: left;width: calc(100% - 90px);}
	.sch-box button{float: right;width: 80px;}

	/* table */
	.scroll-wrap{overflow-x: auto;}
	.scroll-wrap table{width: 760px;}
	.cst-table th, .cst-table td{padding: 8px;line-height: 18px;}
	.cst-table th{font-size: 14px;}
	.cst-table tbody th{font-size: 14px;}
	.cst-table td{font-size: 14px;}
	.cst-table td .view-con{padding: 10px;}
	.cst-table td.address .btn{margin: 1px;}
	.cst-table .nowrap img{margin-top: 3px;}
	.cst-table .xi-angle-up, .cst-table .xi-angle-down{display: none;}
	.write-table.exam .form-control{margin: 1px;}

	.m-board thead{display: none;}
	.m-board td, .m-board th, .m-board colgroup col{display: none;}
	.m-board td.m-board-show, .m-board th.m-board-show, .m-board colgroup col.m-board-show{display: block;}
	.m-board colgroup col.m-board-show{width: 100%;}
	.m-board .m-show + a{display: none;}
	.m-board .d-block{margin: 2px 0;}
	.m-board .d-block > .d-inline{margin-left: 10px;padding-left: 10px;border-left: 1px solid #ccc;color: #222;font-weight: 300;}
	.m-board .d-block > .d-inline:first-child{margin-left: 0;padding-left: 0;border-left: 0;}
	.m-board-show > a{display: block;width: 100%;max-width: 100% !important;padding: 3px 0;}
	.m-board a{display: block;width: 100%;max-width: 100% !important;padding: 3px 0;}
	.m-board td{border-top: 0;border-right: 0;border-left: 0;}
	.m-board .btn-down{font-size: 13px;line-height: 12px;}

	.write-table colgroup col:nth-child(1){width: 30% !important;}
	.write-table colgroup col:nth-child(2){width: 70% !important;}

	/* 190806 P. */
	.table-wrap.exam{overflow: hidden;overflow-x: auto;}
	.table-wrap.exam .write-table.exam{width: 768px;}
	.write-table.exam colgroup col:nth-child(1){width: 15% !important;}
	.write-table.exam colgroup col:nth-child(2){width: 10% !important;}
	.write-table.exam .radio-inline{width: auto;}
	.write-table.exam .form-control{display: inline-block;width: auto;}
	.write-table.exam .form-control.w70{width: 70%;}
	
	.table-wrap.scroll-x{overflow-x: auto;}
	.table-wrap.scroll-x .cst-table{width: 768px;}

	/* common */
	.list-type1 li{line-height: 20px;}
	.list-type2 li{padding-left: 10px;font-size: 14px;line-height: 20px;}
	.list-type2 li:before{top: 10px;}

	.list-type3 li:before{top: 10px;}

	.regi-confirm{padding: 6px 12px;}

	.paging span{height: 33px;}
	.paging .num{width: 30px;height: 33px;line-height: 31px;}

	.btn-wrap .btn{font-size: 13px;}
	a.btn-big{padding: 10px 5px;}
	a.btn-pdf{padding: 8px 12px;width: 130px;height: 30px;background-size: 12px;background-position: right 12px center;font-size: 13px;}

	.no-br{display: none;}
	.m-br{display: block;}
	.mt20{margin-top: 10px;}
	.mt50{margin-top: 30px;}
	.w50{width: 100%;}
	.form-control.w30{width: 100%;}
	.form-control.w40{width: 100%;}
	.form-control.w50{width: 100%;}

	.m-show{display: block;}
	.input-info{display: block;margin-top: 5px;}
	.form-control.has-btn{display: inline-block;width: calc(100% - 65px);vertical-align: top;}
	.form-control.has-btn2{width: calc(100% - 145px);}
	.state{padding: 0 5px;}
	.state + .btn-danger{padding: 6px 5px;}

	/* modal poopup */
	.pop-password .modal-dialog{margin: 10px auto;padding-left: 10px;}
	
} 
@media screen and (max-width:380px) {
	.m-tab-br{display: block;}
	.sub-tabmenu.type2 li:first-child a{padding: 5px 0;}
}