.error {color: red;}
.ellipsis_2{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap:break-word;
}

.xs-top { margin-top: 7px; }
.sm-top { margin-top: 10px; }
.add-top { margin-top: 15px; }
.more-top { margin-top: 35px; }
.sm-bottom { margin-bottom: 10px; }
.add-bottom { margin-bottom: 15px; }
.more-bottom { margin-bottom: 35px; }

.pointer {cursor: pointer;}

.image-preview {
	width: 100%;
	height: 180px;
	background-position: center center;
	background:url(/admin/include/img/no_image.jpg);
	background-color:#fff;
	background-size: cover;
	background-repeat:no-repeat;
	display: inline-block;
	box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-upload {
	display:block;
	border-radius:0px;
	box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
	margin-top:-5px;
}
.image-del {
	position:absolute;
	top:0px;
	right:15px;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	background-color:rgba(255,255,255,0.6);
	cursor:pointer;
}
